[Unit]
Description=miniftp

[Service]
Type=simple
ExecStart=/server/miniftp
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGINT $MAINPID

[Install]
WantedBy=multi-user.target
